name: Basic CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node.js version
      - uses: actions/setup-node@v6
        with: 
          node-version: 18

      - name: Install dependencies
        run : npm install

      - name: Run tests
        run: npm test

